<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectmobprog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectMobProg">
        <activity
            android:name=".NavDrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.ProjectMobProg.NoActionBar" />
        <activity
            android:name=".ui.TestingActivity"
            android:exported="true"
            android:label="@string/title_activity_testing" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_main_menu" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>